<div class="row">
		{{#each ideas}}
		<div class="col-md-4">
			<div class="idea-card card card-body mb-2">
				<h4>{{title}}</h4>
				<p>{{details}}</p>
				<div class="idea-card-controls d-flex">
					<a href="/ideas/edit/{{id}}" class="btn btn-light mr-2"><i class="fa fa-edit"></i></a>
					<form action="/ideas/{{id}}?_method=DELETE" method="POST" class="d-inline-block">
						<input type="hidden" name="_method" value="DELETE">
						<button type="submit" class="btn btn-light">
							<i class="fa fa-trash-alt"></i>
						</button>
					</form>
				</div>
			</div>
		</div>
		{{else}}
			<p>No ideas listed</p>
		{{/each}}
</div>